@page
@model WebApp.Pages.Empleado.EditModel
@{
}


<div id="AppEdit" class=" container">

    <div class="card">

        <div class="card-header">
            Empleado
        </div>

        <div class="card-body">
            <form id="FormEdit" method="post">

                  
                  
                  </form>



        </div>
    </div>

</div>