@page
@model WebApp.Pages.Empleado.EditModel
@{ }


<div id="AppEdit" class=" container">

    <div class="card">

        <div class="card-header">
            Empleado
        </div>

        <div class="card-body">
            <form id="FormEdit" method="post">

                <input type="hidden" asp-for="Entity.IdEmpleado" />

                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PrimerApellido" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.PrimerApellido" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.SegundoApellido" class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.SegundoApellido" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" asp-for="Entity.Edad" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaNacimiento" class="form-label">Fecha Nacimiento</label>
                    <input type="date" class="form-control" asp-for="Entity.FechaNacimiento" required>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">
                            @(Model.id.HasValue? "Actualizar": "Agregar")
                        </button>
                    </div>

                </div>


            </form>



        </div>
    </div>

</div>

@section Scripts
{

    <script defer src="~/App/Empleado/Edit.js"></script>


}